<div class="dia">
    <div class="dia-head" mat-dialog-title>
        <i style="background:url('assets/images/icon.jpg') no-repeat -2px -62px;" width="30" height="30"></i>修改井盖信息
    </div>
    <div class="dia-body">
        <table width="100%" style="margin-top:10px;" [formGroup]="formGroupControl" novalidate>
            <tbody>
                <tr>
                    <th class="tx-r">序列号：</th>
                    <th class="tx-l">{{itemData.serial_number}}</th>
                    <td class="tx-r">批次：</td>
                    <td class="tx-l">
                        <div class="td-div-border">
                            <input matInput spellcheck="false" formControlName="batch">
                            <mat-error *ngIf="formGroupControl.status!='VALID'">
                                &nbsp;&nbsp;*
                            </mat-error>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tx-r">型号：</td>
                    <td class="tx-l">
                        <div class="td-div-border">
                            <input type="text" matInput formControlName="model" [matAutocomplete]="auto" spellcheck="false">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let model of filteredOptions | async"  [value]="model">
                                    {{model}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="formGroupControl.status!='VALID'">
                                &nbsp;&nbsp;*
                            </mat-error>
                        </div>
                    </td>
                    <td class="tx-r">生产日期：</td>
                    <td class="tx-l">
                        <div class="td-div-border">
                            <input class="disabled" matInput formControlName="production_date" [matDatepicker]="picker1" [readonly]="true" placeholder="请选择日期">
                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                        </div>
                    </td>
                    <!-- <div class="td-div-border"><input type="date"><i  style="background:url('assets/images/icon.jpg') no-repeat -40px -4px;"></i></div> -->
                </tr>
                <tr>
                    <td class="tx-r">发货日期：</td>
                    <td class="tx-l">
                        <div class="td-div-border">
                            <input class="disabled" matInput formControlName="deliver_date" [readonly]="true" [matDatepicker]="picker2" placeholder="请选择日期">
                            <mat-datepicker-toggle matSuffix [for]="picker2">
                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                        </div>
                    </td>
                    <td class="tx-r">关联厂家：</td>
                    <td class="tx-l">
                        <div class="td-div-border">
                            <input class="disabled" matInput formControlName="relevancy_party" [readonly]="true">
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td rowspan="3" class="tx-r" style="vertical-align:top;">备注：</td>
                    <td rowspan="3" colspan="3">
                        <textarea matInput name="remake" formControlName="batch_comment" style="resize:none; width:90%; height:80px; text-align:left;"
                            spellcheck="false" placeholder="请输入备注信息">
                        </textarea>
                        <mat-error *ngIf="formGroupControl.status!='VALID'">
                            &nbsp;&nbsp;*
                        </mat-error>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="dia-btn">
            <button mat-button (click)="onNoClick()" class="btn btn-Confirm">确定</button>
            <button mat-button class="btn btn-Cancel" mat-dialog-close style="margin-left: 20px;">取消</button>
        </div>
    </div>
</div>
<!-- <div id="JS_mask" class="c-mask" style=" display:none; height: 884px; width: 100%; position: absolute; top: 0px; left: 0px; opacity: 0.5; z-index: 299; background: rgb(0, 0, 0);"></div> -->


