<div class="all">
  <div class="info auto">
      <div class="l">用户：
      
      <span (click)="logout()" class="logout r">
          退出
      </span>
      <span class="username r">bob</span>
  </div>
  </div>

  <div class="top auto m30">
      <div class="top-l l">
          <strong class="l">输入序列号：</strong>
          <div class="top-r-border border l">
            <input [(ngModel)]="boxValue" (ngModelChange)="Saoma($event)" style=" resize: none;" class="" id="origin" autofocus="autofocus" spellcheck="false">
          </div>
      </div>
      
      <div class="top-r2 r">
        <!-- <button mat-button class="btn back-c2" (click)="getItem(box.value)" id="btn_list">添加</button> -->
          <button mat-button class="btn back-c1 btn-margin" (click)="mergeMore()">批量修改</button>
          <button mat-button class="btn back-c2 btn-margin" (click)="save()">保存</button>
          <button mat-button class="btn back-c3 btn-margin" (click)="delProd()">删除关联商</button>
          <!-- <button mat-button class="btn back-c3 btn-margin" (click)="del()">删除</button> -->
      </div>
  </div>
  <div class="auto m20 foot">
      <mat-table #table [dataSource]="dataSource">
        <!-- checkbox-column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">选择
                </mat-checkbox>
            </mat-header-cell>

            <mat-cell *matCellDef="let row">
                <mat-checkbox  class="list-checkbox" (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row):null"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef>序号</mat-header-cell>
            <mat-cell *matCellDef="let element" [style.color]="(element.change) ? 'red': ''">{{element.number}}</mat-cell>
        </ng-container>

        <!-- serial_number-column -->
        <ng-container matColumnDef="serial_number">
            <mat-header-cell *matHeaderCellDef>序列号</mat-header-cell>
            <mat-cell *matCellDef="let element" [style.color]="(element.change) ? 'red': ''">{{element.serial_number}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="batch">
            <mat-header-cell *matHeaderCellDef >批次</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.batch}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="model">
            <mat-header-cell *matHeaderCellDef>型号</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.model}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="production_date">
            <mat-header-cell *matHeaderCellDef>生产日期</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.production_date}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="deliver_date">
            <mat-header-cell *matHeaderCellDef>发货日期</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.deliver_date}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="relevancy_party">
            <mat-header-cell *matHeaderCellDef>关联厂家</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.relevancy_party}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="batch_comment">
            <mat-header-cell *matHeaderCellDef>备注</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.batch_comment}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="handle">
            <mat-header-cell *matHeaderCellDef>操作</mat-header-cell>
            <mat-cell *matCellDef="let element;let i=index">
                <a class="merge-c" (click)="merge(element,i)">修改</a>
                <a class="del-c" (click)="remove(i)">移除</a>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
      </mat-table>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
