*{
	font-family: "Microsoft YaHei", 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu;
}

.top{
    height: 50px;
    width: 80%;
}
.top-l{
	width: 50%;
	height: 37px;
	
}
.top-l strong{
	font-size: 1.1em;
	line-height: 32px;
}
.border{
	border: 1px solid #c0c0c0;
}
.font-c{
	color: #555;
}

.info{
	background-color: #DCDCDC;
	height: 20px;
	font-size: .875em;
}
.info div{
	margin-left: 78%;
}
.info div ul{
	list-style: none;
	float: right;
	overflow: hidden;
	height: 20px;
	width: 50px;
}
.info div span{
	height: 20px;
	width: 30px;
}
.username{
	font-weight: bold;
}
.logout{
	margin-left: 8px;
	font-weight: 500;
	color: rgb(201, 30, 0);
	font-weight: bold;
}

.logout:hover{
	cursor: pointer;
	text-decoration: underline;
}

.top-r{
	width: 30%;
}
.top-r-border{
	width: 70%;
	border: 1px solid #c0c0c0;
	height: 35px;
}
.top-l input{
	width: 98%;
	height: 25px;
	border: 0;
	outline: none;
	line-height: 25px;
	font-size: 1.125em;
	padding: 5px 0 0 5px;
	margin: 0;
}

.top-r2{
	width: 36%;
	margin-top:-5px;
}

.head-btn{
	vertical-align:top;
}

.btn{
	width:20%;
	height: 45px;
	font-size: 1em;
	color: #000;
	line-height: 45px;
	padding: 0;
	text-align: center;
	cursor:pointer;
	border: 0;
	border-radius: 5px;
	font-weight: 500;
}
.current-btn{
	background-color: #DCDCDC;
	border: 1px solid #DCDCDC;
}
.btn-margin{
	margin-left: 2em;
}
.back-c1{
	background-color:#7ecef4;
}
.back-c2{
	background-color:#89c997;
}
.back-c3{
	background-color:#f6b37f;
}

.foot{
	clear: both;
	width: 80%;
	border: 1px solid #333;
}
.foot table{
	border-collapse: collapse;
	width: 95%;
	margin-left: auto;
	margin-right:auto;
}
.foot table tbody tr{
	height: 40px;
	border-bottom: dashed #c0c0c0 1px;
}
.foot table tbody tr th{
	font-size: 1.125em;
	line-height: 18px;
	
}
.foot table tbody tr td{
	font-size: 1em;
	text-align: center;
}
.foot table tbody tr td a{
	cursor:pointer;
	font-size: 0.875em;
}
.list-checkbox{
	margin-left:10px;
}
.merge-c{
	padding:3px;
	font-weight: 400;
	color: #7ecef4;
}
.del-c{
	padding:3px;
	margin-left: 8px;
	font-weight: 400;
	color:#f6b37f;
}

.mat-header-cell{
	font-size: 1em;
}

.mat-column-select {
	overflow: visible;
	max-width: 5%;
}
.mat-column-serial_number,
.mat-column-relevancy_party{
	max-width: 12%;
}

.mat-column-production_date,
.mat-column-deliver_date{
  max-width: 9%;
}
.mat-column-batch,
.mat-column-model{
	max-width: 8%;
}
.mat-column-handle{
	max-width: 8%;
}