<div class="all" >
  <div class="info auto">
      <div class="l">用户：
      
      <span (click)="logout()" class="logout r">
          退出
      </span>
      <span class="username r">bob</span>
  </div>
  </div>

  <div class="top auto m30">
      <div class="top-l l">
          <strong class="l">输入序列号：</strong>
          <div class="top-r-border border l">
            <input #box (change)="Saoma(box.value,$enent)" style=" resize: none;" class="" id="origin" autofocus="autofocus" spellcheck="false">
          </div>
      </div>
      
      <div class="top-r2 r">
        <button mat-button class="btn back-c2" (click)="getItem(box.value)" id="btn_list">添加</button>
          <button mat-button class="btn back-c1 btn-margin">批量修改</button>
          <button mat-button class="btn back-c2 btn-margin">保存</button>
          <button mat-button class="btn back-c3 btn-margin">删除</button>
      </div>
  </div>
  <div class="auto m20 foot">
      <table border="0">
          <tbody>
              <tr style="border-bottom-style:solid;">
                  <th width="6%">
                      <mat-checkbox class="list-checkbox" [(ngModel)]="checked" (change)="onChangeCheckBox(checked)">选择</mat-checkbox>
                      <!-- <input type="checkbox" class="list-checkbox">选择 -->
                  </th>
                  <th width="12%">序列号</th>
                  <th width="9%">批次</th>
                  <th width="9%">型号</th>
                  <th width="9%">生产日期</th>
                  <th width="9%">发货日期</th>
                  <th width="12%">关联厂家</th>
                  <th>备注</th>
                  <th colspan="2" width="8%">操作</th>
              </tr>
              <tr *ngFor="let item of staticList;let i=index" [style.border-bottom-style]="(i>=staticList?.length-1)?'none':'dashed'">
                  <td>
                     <!-- <input type="checkbox" class="list-checkbox"> -->
                     <mat-checkbox class="list-checkbox" [checked]="isCheck"></mat-checkbox>
                  </td>
                  <td>{{item.serial_number}}</td>
                  <td>{{item.batch}}</td>
                  <td>{{item.model}}</td>
                  <td>{{item.production_date|date:"yyyy-MM-dd"}}</td>
                  <td>{{item.deliver_date|date:"yyyy-MM-dd"}}</td>
                  <td>{{item.relevancy_party}}</td>
                  <td>{{item.batch_comment}}</td>
                  <td class="merge-c" (click)="merge(item)"><a>修改</a></td>
                  <td class="del-c" (click)="remove(i)"><a>移除</a></td>
              </tr>
              <!-- <tr>
                  <td><input type="checkbox" class="list-checkbox"></td>
                  <td>EC2-208039220023</td>
                  <td>A1-1</td>
                  <td>2018-02-23</td>
                  <td>1234科技公司</td>
                  <td >保持关联</td>
                  <td>添加备注信息</td>
                  <td class="merge-c"><a>修改</a></td>
                  <td class="del-c"><a>移除</a></td>
              </tr> -->
              
          </tbody>
      </table>
  </div>
</div>
