<div class="top auto m20">
  <div class="top-l l">
      <strong class="">请在此粘贴数据：</strong>
  </div>
  <div class="top-r l">
      <div class="top-r-border border">
          <textarea #box (keyup)="contentChange(box,lines)" style=" resize: none; width: 93%; height: 300px; border: 0;" class="" id="origin" autofocus="autofocus" spellcheck="false"></textarea>
          <div class="lines l" style="width: 5%; max-width: 100px;height: 300px;">
              <div #lines class="codelines">
                  <div *ngFor="let item of heroes;let i=index" class="lineno">{{i+1}}</div>
                  <!-- <div class="lineno">1</div>
                  <div class="lineno">2</div>
                  <div class="lineno">3</div>
                  <div class="lineno">4</div>
                  <div class="lineno">5</div>
                  <div class="lineno">6</div>
                  <div class="lineno">7</div>
                  <div class="lineno">8</div>
                  <div class="lineno">9</div>
                  <div class="lineno">10</div>
                  <div class="lineno">11</div>
                  <div class="lineno">12</div>
                  <div class="lineno">13</div>
                  <div class="lineno">14</div>
                  <div class="lineno">15</div> -->
              </div>
          </div>
      </div>
  </div>
</div>
<div class="head m20 auto">
  <div class="top-l l" style="height: 50px;">
      
  </div>
  <div class="top-r l head-btn">
      <button mat-button class="btn current-btn border" (click)="getList(box.value)" id="btn_list">获取关联列表</button>
      <button mat-button class="btn border">批量修改</button>
      <button mat-button class="btn border">保存</button>
  </div>
  
</div>
<div class="foot m20 auto">
  {{values}}
</div>