
*{
	font-family: "Microsoft YaHei", 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu;
}
ul{
	padding: 0;
	margin: 0;
}


.top{
	height: 50px;
}
.top-l{
	width: 20%;
	height: 37px;
	text-align: right;
}
.top-l strong{
	font-size: 20px;
	line-height: 32px;
}
.border{
	border: 1px solid #c0c0c0;
}
.font-c{
	color: #555;
}

.info{
	background-color: #DCDCDC;
	height: 20px;
	font-size: 14px;
}
.info div{
	margin-left: 78%;
}
.info div ul{
	list-style: none;
	float: right;
	overflow: hidden;
	height: 20px;
	width: 50px;
}
.info div span{
	height: 20px;
	width: 30px;
}
.username{
	font-weight: bold;
}
.logout{
	margin-left: 8px;
	font-weight: 500;
	color: rgb(201, 30, 0);
	font-weight: bold;
}

.logout:hover{
	cursor: pointer;
	text-decoration: underline;
}

.top-r{
	width: 30%;
}
.top-r-border{
	width: 100%;
	border: 1px solid #c0c0c0;
	height: 35px;
}
.top-r textarea{
	width: 98%;
	height: 25px;
	border: 0;
	outline: none;
	line-height: 25px;
	font-size: 18px;
	padding: 5px 0 0 5px;
	margin: 0;
}

.top-r2{
	width: 45%;
	padding-left: 5%;
	margin-top:-5px;
}

.head-btn{
	vertical-align:top;
}

.btn{
	width:120px;
	height: 45px;
	font-size: 16px;
	color: #000;
	line-height: 45px;
	padding: 0;
	text-align: center;
	cursor:pointer;
	border-radius: 5px;
	font-weight: 500;
}
.current-btn{
	background-color: #DCDCDC;
	border: 1px solid #DCDCDC;
}
.btn-margin{
	margin-left: 2em;
}
.back-c1{
	background-color:#7ecef4;
}
.back-c2{
	background-color:#89c997;
}
.back-c3{
	background-color:#f6b37f;
}

.foot{
	clear: both;
	width: 75%;
	border: 1px solid #333;
}
.foot table{
	border-collapse: collapse;
	width: 95%;
	margin-left: auto;
	margin-right:auto;
}
.foot table tbody tr{
	height: 40px;
	border-bottom: dashed #c0c0c0 1px;
}
.foot table tbody tr th{
	font-size: 18px;
	line-height: 18px;
	
}
.foot table tbody tr td{
	font-size: 16px;
	text-align: center;
}
.foot table tbody tr td a{
	cursor:pointer;
	font-size: 14px;
}
.list-checkbox{
	width: 18px;
	cursor: pointer;
	padding-right: 10px;
	height: 18px;
}
.merge-c{
	font-size: 13px;
	font-weight: bold;
	color: #7ecef4;
}
.del-c{
	font-weight: bold;
	color:#f6b37f;
}