<div class="top auto ma">
    <div class="top-l l">
        <strong class="">请在此粘贴数据：</strong>
    </div>
    <div class="top-r l">
        <div class="top-r-border border">
            <textarea #box (keyup)="contentChange(box.value,box,lines)" style="resize: none; width: 93%; height: 300px; border: 0;padding-right: -10em;" class="" id="origin" autofocus="autofocus" spellcheck="false"></textarea>
            <div class="lines l" style="width: 5%; max-width: 100px;height: 300px;">
                <div #lines class="codelines">
                    <div class="lineno">1</div>
                    <div class="lineno">2</div>
                    <div class="lineno">3</div>
                    <div class="lineno">4</div>
                    <div class="lineno">5</div>
                    <div class="lineno">6</div>
                    <div class="lineno">7</div>
                    <div class="lineno">8</div>
                    <div class="lineno">9</div>
                    <div class="lineno">10</div>
                    <div class="lineno">11</div>
                    <div class="lineno">12</div>
                    <div class="lineno">13</div>
                    <div class="lineno">14</div>
                    <div class="lineno">15</div>
                    <!-- <ul>
                        <li *ngfor="let hero of heroes;let i=index" class="lineno">{{i+1}} {{hero}}</li>
                    </ul> -->
                    <!-- <div *ngfor="let hero of heroes;let i=index" class="lineno">{{i+1}}</div> -->
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="head ma auto">
    <div class="top-l l" style="height: 50px;">
        
    </div>
    <div class="top-r l head-btn">
        <button appHighlight class="btn current-btn font-c border" id="btn_list" (focus)="onFocus()" (click)="clickRun()">获取关联列表</button>
        <button appHighlight class="btn font-c border" id="btn_merge_more">批量修改</button>
        <button appHighlight class="btn font-c border" id="btn_save">保存</button>
    </div>
    
</div>
<div class="foot ma auto">
    {{values}}
</div>