<div class="top auto ma">
    <div class="top-l l">
        <strong class="">请在此粘贴数据：</strong>
    </div>
    <div class="top-r l">
        <div class="top-r-border border">
            <textarea style="resize: none; width: 93%; height: 300px; border: 0;padding-right: -10em;" class="" id="origin" autofocus="autofocus" spellcheck="false"></textarea>
            <div class="lines l" style="width: 5%; max-width: 100px;height: 300px;">
                <div class="codelines"></div>
            </div>
        </div>
        
    </div>
</div>
<div class="head ma auto">
    <div class="top-l l" style="height: 50px;">
        
    </div>
    <div class="top-r l head-btn">
        <button class="btn current-btn font-c border" id="btn_list">获取关联列表</button>
        <button class="btn font-c border" id="btn_merge_more">批量修改</button>
        <button class="btn font-c border" id="btn_save">保存</button>
    </div>
    
</div>
<div class="foot">
    
</div>