/* You can add global styles to this file, and also import other style files */

body{
	background-color: #fff;
	margin: 0;
	padding: 0;
}
.l{
	float: left;
}
.r{
	float:right;
}
.auto{
	margin: 0 auto;
}
.m20{
	margin-top: 20px;
}
.m30{
	margin-top: 30px;
}

a{
	text-decoration: none;	
}
a:hover{
	text-decoration: underline;
}