/* You can add global styles to this file, and also import other style files */
@import '~app//components/dialog/dialog.component.css';
@import '~/../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
/* @import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css'; */

body{
	background-color: #fff;
	margin: 0;
	padding: 0;
}
i{
	overflow: hidden;
}
.l{
	float: left;
}
.r{
	float:right;
}
.tx-r{
	text-align: right;
}
.tx-l{
	text-align: left;
}
.auto{
	margin: 0 auto;
}
.m20{
	margin-top: 20px;
}
.m30{
	margin-top: 30px;
}

a{
	text-decoration: none;	
}
a:hover{
	text-decoration: underline;
}