<div class="dia">
    <div class="dia-head">
        <i style="background:url('assets/images/icon.jpg') no-repeat -2px -62px;" width="30" height="30"></i>修改井盖信息
    </div>
    <div class="dia-body">
        <table width="100%" style="margin-top:10px;">
            <tbody>
                <tr>
                    <th class="tx-r">序列号：</th>
                    <th class="tx-l" colspan="3">EC2-201503300001</th>
                </tr>
                <tr>
                    <td class="tx-r">批次：</td>
                    <td class="tx-l">
                        <div class="td-div-border">
                            <mat-select [(value)]="selectBatch" >
                                <mat-option value="option1">A1-1</mat-option>
                                <mat-option value="option2">A1-2</mat-option>
                            </mat-select>
                        </div>
                    </td>
                    <td class="tx-r">发货日期：</td>
                    <td class="tx-l">
                        <div class="td-div-border">
                            <input matInput [matDatepicker]="picker" placeholder="请选择日期" disabled>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker disabled="false"></mat-datepicker>
                        </div>
                    </td>
                    <!-- <div class="td-div-border"><input type="date"><i  style="background:url('assets/images/icon.jpg') no-repeat -40px -4px;"></i></div> -->
                </tr>
                <tr>
                    <td class="tx-r">收货方：</td>
                    <td class="tx-l">
                        <div class="td-div-border">
                            <mat-select [(value)]="selectCompany" >
                                <mat-option value="option1">AAA公司</mat-option>
                                <mat-option value="option2">BBB科技公司</mat-option>
                            </mat-select>
                        </div>
                    </td>
                        <!-- <div class="td-div-border"><input class="no-border" type="text"><i  style="background:url('assets/images/icon.jpg') no-repeat -40px -4px;"></i></div> -->
                    <td class="tx-r">状态：</td>
                    <td class="tx-l">
                        <div class="td-div-border">
                            <mat-select [(value)]="selected" >
                                <mat-option value="option1">保持关联</mat-option>
                                <mat-option value="option2">不关联</mat-option>
                            </mat-select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="3" class="tx-r" style="vertical-align:top;">备注：</td>
                    <td rowspan="3" colspan="3"><textarea name="remake" id="remake_txt" style="resize:none; width:510px; height:80px;" spellcheck="false" placeholder="请输入备注信息"></textarea></td>
                </tr>
            </tbody>
        </table>
        <div class="dia-btn">
            <button mat-button class="btn btn-Confirm">确定</button>
            <button mat-button class="btn btn-Cancel" (click)="onNoClick(result)">取消</button>

            <!-- <div class="dia-btn-img1" style="background:url('assets/images/icon.jpg') no-repeat 0 -30px;"><span>确定</span></div> -->
        </div>
    </div>
</div>
<div id="JS_mask" class="c-mask" style=" display:none; height: 884px; width: 100%; position: absolute; top: 0px; left: 0px; opacity: 0.5; z-index: 299; background: rgb(0, 0, 0);"></div>


